.buttons {
    color: blue;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    border: 1px solid blackx;
    background-color: azure;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: rgb(12, 12, 231);
    text-align: center;
}

.buttons:hover {
    background-color: lightskyblue;
}

.startseite {
    color: blue;
    background-color: azure;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    border: 2px solid azure;
    font-family: Arial, Helvetica, sans-serif;
}

.startseite:hover {
    background-color: lightskyblue;
}

body {
    background-color: rgb(12, 12, 95);
}