p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(248, 240, 240);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: rgb(239, 239, 245);
    text-align: center;
}

body {
    background-color: rgb(7, 19, 90);
}

header a {
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: rgb(240, 240, 245);
}

header a:hover {
    color: red;
    font-size: 22px;
}