    div {
        background-color: rgb(248, 246, 246);
        margin-top: 20px;
        padding: 20px;
        box-shadow: 7px 9px 5px -1px #000000;
    }
    
    body {
        background-color: rgb(8, 14, 87);
    }
    
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 48px;
        color: rgb(16, 16, 228);
        text-align: center;
        margin: 0;
    }
    
    .links {
        font-size: 20px;
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        color: blue;
    }
    
    .links:hover {
        color: red;
    }
    
    header {
        margin-top: 20px;
        padding: 20px;
        box-shadow: 7px 9px 5px -1px #000000;
    }
    
    .oscar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin: 0 auto;
    }
    
    .auswahl {
        background-color: azure;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 3px 3px 5px -1px #000000;
        color: blue;
        text-decoration: none;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .auswahl:hover {
        background-color: lightskyblue;
    }