h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: rgb(16, 16, 228);
    text-align: center;
}

p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(252, 252, 253);
}

body {
    background-color: rgb(10, 10, 100);
}

header {
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: rgb(240, 240, 245);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: rgb(200, 200, 205);
}

a:hover {
    background-color: lightskyblue;
}

a {
    text-decoration: none;
    color: rgb(69, 69, 71);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 20px;
    background-color: azure;
}